<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="./stylesheets/style.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <script src="/js/bootstrap.bundle.min.js"></script>
	<title>Clubhouse: <%= title %></title>
  </head>
  <body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-primary">
        <div class="container-fluid justify-content-between">
            <span class="navbar-brand mb-0 h1">Clubhouse</span>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarClubhouse" aria-controls="navbarClubhouse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarClubhouse">
                <div class="navbar-nav">