<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="./stylesheets/style.css">
	<title>Clubhouse: <%= title %></title>
  </head>
  <body>
	<% if (user) { %>
        <h4>Logged in as "<%= user.fullName %>"</h4>
        <a href="/log-out">LOG OUT</a>
	<% } else { %>
		<h1>Log In</h1>
		<form action="/log-in" method="POST">
			<div>
				<label for="username">Username</label>
				<input type="text" name="username" id="username" placeholder="Enter your username">
			</div>
			<div>
				<label for="password">Password</label>
				<input type="password" name="password" id="password" placeholder="Enter your password">
			</div>
			<button>Log In</button>
		</form>
		<br>
		No account yet?
		<a href="/sign-up">Sign Up now!</a>
	<% } %>
    
  </body>
</html>
