<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clubhose: <%= title %></title>
    <link rel="stylesheet" href="./stylesheets/style.css">
</head>
<body>
    <h1>Sign Up</h1>
    <% if (msg === ''){ %>
        <form action="" method="POST">
            <div>
                <label for="fullname">Full Name</label>
                <input type="text" name="fullname" id="fullname" placeholder="Enter your full name">
            </div>
            <div>
                <label for="username">Username</label>
                <input type="text" name="username" id="username" placeholder="Enter your username">
            </div>
            <div>
                <label for="password">Password</label>
                <input type="password" name="password" id="password" placeholder="Enter your password" class="password-input">
            </div>
            <div>
                <label for="password">Confirm Password</label>
                <input type="password" name="confirm-password" id="confirm-password" placeholder="Confirm password" class="password-input">
            </div>
            <div>
                <input type="checkbox" id="checkbox" onclick="showPassword()">
                <label for="checkbox">Show Password</label>
            </div>
            <button>Sign Up</button>
        </form>
    <% } else { %>
        <h4><%= msg[0] %></h4>
        <form action="" method="POST">
            <div>
                <label for="fullname">Full Name</label>
                <input type="text" name="fullname" id="fullname" value=<%= msg[1] %>>
            </div>
            <div>
                <label for="username">Username</label>
                <input type="text" name="username" id="username" value=<%= msg[2] %>>
            </div>
            <div>
                <label for="password">Password</label>
                <input type="password" name="password" id="password" placeholder="Enter your password"class="password-input" class="password-input">
            </div>
            <div>
                <label for="password">Confirm Password</label>
                <input type="password" name="confirm-password" id="confirm-password" placeholder="Confirm password" class="password-input">
            </div>
            <div>
                <input type="checkbox" id="checkbox" onclick="showPassword()">
                <label for="checkbox">Show Password</label>
            </div>
            <button>Sign Up</button>
        </form>
    <% } %>
    
    <script src="/javascripts/toggle-password.js"></script>
</body>
</html>