html, body{
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 2rem;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.message-item{
  border: 1px solid black;
  padding: 0.5rem;
  margin: 1rem 0rem;
  min-height: 80px;
}

.message-title{
  font-weight: bold;
  margin-bottom: 3px;
}

.message-message{
  color: #1e293b;
}